[Unit]
Description=JBlast/Galaxy startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node [[approot]]/jblast-startup.js
ExecStop=/usr/bin/node [[approot]]/jblast-stopservice.js
TimeoutStartSec=0
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
